header > section > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    font-size: 20px;
}

header > section > ul > li > a{
    color: black;
    transition: .5s;
    font-style: italic;
    font-weight: bold;
}

header > section > ul > li > a:hover{
    color: grey;
    transition: .5s;
    text-decoration: none;
}

header > section > h1, h3{
    text-align: center;
}

.jumbotron{
    background: url(Screenshot_20201018-182935_Gallery.jpg) no-repeat center;
    height: 50vh;
    width: 100vw;
    border-radius: 0;
    position: fixed;
    z-index: -1;
}

main{
    display: block;
    width: 99.2vw;
    background-color: white;
    margin-top: 75vh;
    padding-top: 50px;
}

#TarifH{
    box-shadow: rgb(80, 80, 80) 5px 5px 5px;
    z-index: 2;
}

#TarifF{
    box-shadow: rgb(80, 80, 80) -5px 5px 5px;
}

#imgh{
    z-index: 0;
}

main > .container > .row > #TarifH > h4 > ul > li {
    font-size: 50px;
}

.mt-n30{
    margin-top: -30rem;
}
@media screen and (min-width: 1430px){
    header > ul{
        margin-top: -4.2%;
    }
}